.father {
  display: grid;
  grid-template-columns: 100px 200px 100px;
  grid-template-rows: 200px 100px;
  column-gap: 20px;
  row-gap: 10px;
}

.child {
  background-color: tomato;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.child:last-child {
  grid-column: 2 / -1;
}

.child:first-child {
  grid-row: 1 / -1;
}
