body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: inline-block;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
