body {
  width: 100vw;
  height: 100vh;
  display: flex;
  row-gap: 10px;
  column-gap: 20px;
  flex-flow: row wrap;
  align-items: center;
}

.box:nth-child(3) {
  background-color: blueviolet;
  order: 2;
  align-self: flex-start;
}

.box:nth-child(6) {
  background-color: aqua;
  order: -1;
  align-self: flex-end;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: inline-block;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
